{% extends "base.html" %}
{% load static %}
{% block content %}
<h1><u>Delete a Class</u></h1>
<br>
<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ class.name }}"?</p>
    <input type="submit" class="btn btn-outline-dark" value="Confirm" />
</form>
{% endblock %}