{% extends "base.html" %}
{% block content %}
<h1 class="text-right"><u><a href="{% url 'index' %}">menu</a></u></h1>
<h1><u>Class List</u></h1>
<br>
<p>
    <a class="btn btn-outline-dark" href="{% url 'class_add' %}">add a class</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Section</th>
        <th>Teacher</th>
        <th>Head Teacher</th>
        <th>Classroom</th>
        <th>Detail</th>
    </tr>
    {% for class in object_list %}
    <tr>                
        <td>{{ class.name }}</td>
        <td>{{ class.section }}</td>
        <td>{{ class.teacher }}</td>
        <td>{{ class.head_teacher }}</td>
        <td>{{ class.classroom }}</td>
        <td><a class="btn" href="{% url 'class_detail' pk=class.pk %}"><i class="fas fa-plus-circle"></i></a></td>
        {% empty %}
        <li>No Classes yet.</li>               
    </tr>
    {% endfor %}
</table>
{% endblock %}