{% extends "base.html" %}
{% block content %}
<h1><u>Class</u></h1>
<br>
<p class="font-weight-bold">Name</p>
<p class="font-italic">{{ class.name }}</p>
<p class="font-weight-bold">Section</p>
<p class="font-italic">{{ class.section }}</p>
<p class="font-weight-bold">Teacher</p>
<p class="font-italic">{{ class.teacher }}</p>
<p class="font-weight-bold">Head Teacher</p>
<p class="font-italic">{{ class.head_teacher }}</p>
<p class="font-weight-bold">Classroom</p>
<p class="font-italic">{{ class.classroom }}</p>
{% if user.is_authenticated %}
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'class_edit' pk=class.pk %}"><i class="fas fa-pencil-alt"></i></a>
        Edit
    </p>
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'class_delete' pk=class.pk %}"><i class="fas fa-trash-alt"></i></a>
        Delete
    </p>
{% endif %}
<p class="font-weight-bold">
    <a class="btn" href="{% url 'class' %}"><i class="fas fa-chevron-left"></i></a>
    Volver
</p>
{% endblock %}