{% extends "base.html" %}
{% load static %}
{% block content %}
<h1><u>Add a Exam Result</u></h1>
<br>
<form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' class="btn btn-outline-dark" value='submit'>
</form>
{% endblock %}