{% extends "base.html" %}
{% block content %}
<h1 class="text-right"><u><a href="{% url 'index' %}">menu</a></u></h1>
<h1><u>Exam Result List</u></h1>
<br>
<p>
    <a class="btn btn-outline-dark" href="{% url 'examresult_add' %}">add a result</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>Student</th>
        <th>Class</th>
        <th>Exam</th>
        <th>Grade</th>        
        <th>Detail</th>
    </tr>
    {% for examresult in object_list %}
    <tr>                
        <td>{{ examresult.student }}</td>
        <td>{{ examresult.clas }}</td>
        <td>{{ examresult.exam }}</td>
        <td>{{ examresult.grade }}</td>        
        <td><a class="btn" href="{% url 'examresult_detail' pk=examresult.pk %}"><i class="fas fa-plus-circle"></i></a></td>
        {% empty %}
        <li>No Exams Results yet.</li>               
    </tr>
    {% endfor %}
</table>
{% endblock %}