{% extends "base.html" %}
{% block content %}
<h1 class="text-right"><u><a href="{% url 'index' %}">menu</a></u></h1>
<h1><u>Exam List</u></h1>
<br>
<p>
    <a class="btn btn-outline-dark" href="{% url 'exam_add' %}">add a exam</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Type</th>
        <th>Detail</th>
    </tr>
    {% for exam in object_list %}
    <tr>                
        <td>{{ exam.name }}</td>
        <td>{{ exam.date }}</td>
        <td>{{ exam.type }}</td>
        <td><a class="btn" href="{% url 'exam_detail' pk=exam.pk %}"><i class="fas fa-plus-circle"></i></a></td>
        {% empty %}
        <li>No Exams yet.</li>               
    </tr>
    {% endfor %}
</table>
{% endblock %}