{% extends "base.html" %}
{% block content %}
<h1><u>Exam Result</u></h1>
<br>
<p class="font-weight-bold">Student</p>
<p class="font-italic">{{ examresult.student }}</p>
<p class="font-weight-bold">Class</p>
<p class="font-italic">{{ examresult.clas }}</p>
<p class="font-weight-bold">Exam</p>
<p class="font-italic">{{ examresult.exam }}</p>
<p class="font-weight-bold">Grade</p>
<p class="font-italic">{{ examresult.grade }}</p>
{% if user.is_authenticated %}
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'examresult_edit' pk=examresult.pk %}"><i class="fas fa-pencil-alt"></i></a>
        Edit
    </p>
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'examresult_delete' pk=examresult.pk %}"><i class="fas fa-trash-alt"></i></a>
        Delete
    </p>
{% endif %}
<p class="font-weight-bold">
    <a class="btn" href="{% url 'examresult' %}"><i class="fas fa-chevron-left"></i></a>
    Volver
</p>
{% endblock %}