{% extends "base.html" %}
{% block content %}
<h1><u>Exam</u></h1>
<br>
<p class="font-weight-bold">Name</p>
<p class="font-italic">{{ exam.name }}</p>
<p class="font-weight-bold">Date</p>
<p class="font-italic">{{ exam.date }}</p>
<p class="font-weight-bold">Type</p>
<p class="font-italic">{{ exam.type }}</p>
{% if user.is_authenticated %}
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'exam_edit' pk=exam.pk %}"><i class="fas fa-pencil-alt"></i></a>
        Edit
    </p>
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'exam_delete' pk=exam.pk %}"><i class="fas fa-trash-alt"></i></a>
        Delete
    </p>
{% endif %}
<p class="font-weight-bold">
    <a class="btn" href="{% url 'exam' %}"><i class="fas fa-chevron-left"></i></a>
    Volver
</p>
{% endblock %}