{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}School{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-2">
    
        </div>
        <div class="col-8">
        {% block content %}
        <h1><u>School Menu</u></h1>
        <br>
        <a class="btn btn-outline-dark" href="{% url 'students' %}">Student</a>
        <a class="btn btn-outline-dark" href="{% url 'class' %}">Class</a>
        <a class="btn btn-outline-dark" href="{% url 'exam' %}">Exam</a>
        <a class="btn btn-outline-dark" href="{% url 'examresult' %}">Grade</a>
        {% endblock %}
        </div>
        <div class="col-2">
    
        </div>
    </div>    
</body>
</html>