{% extends "base.html" %}
{% block content %}
<h1><u>Student</u></h1>
<br>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-outline-dark">Save</button>
</form>
{% endblock %}