{% extends "base.html" %}
{% block content %}
<h1 class="text-right"><u><a href="{% url 'index' %}">menu</a></u></h1>
<h1><u>Students List</u></h1>
<br>
<p>
    <a class="btn btn-outline-dark" href="{% url 'students_add' %}">add a student</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Mail</th>
        <th>Phone</th>
        <th>Representative</th>
        <th>Detail</th>
    </tr>
    {% for student in object_list %}
    <tr>                
        <td>{{ student.name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.mail }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.representative }}</td>
        <td><a class="btn" href="{% url 'student_detail' pk=student.pk %}"><i class="fas fa-plus-circle"></i></a></td>
        {% empty %}
        <li>No students yet.</li>               
    </tr>
    {% endfor %}
</table>
{% endblock %}