{% extends "base.html" %}
{% block content %}
<h1><u>Student</u></h1>
<br>
<p class="font-weight-bold">Name</p>
<p class="font-italic">{{ student.name }}</p>
<p class="font-weight-bold">Last Name</p>
<p class="font-italic">{{ student.last_name }}</p>
<p class="font-weight-bold">Phone</p>
<p class="font-italic">{{ student.phone }}</p>
<p class="font-weight-bold">Mail</p>
<p class="font-italic">{{ student.mail }}</p>
<p class="font-weight-bold">Representative</p>
<p class="font-italic">{{ student.representative }}</p>
{% if user.is_authenticated %}
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'student_edit' pk=student.pk %}"><i class="fas fa-pencil-alt"></i></a>
        Edit
    </p>
    <p class="font-weight-bold">
        <a class="btn" href="{% url 'student_delete' pk=student.pk %}"><i class="fas fa-trash-alt"></i></a>
        Delete
    </p>
{% endif %}
<p class="font-weight-bold">
    <a class="btn" href="{% url 'students' %}"><i class="fas fa-chevron-left"></i></a>
    Volver
</p>
{% endblock %}